@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// app global css in SCSS form
:root {
    --aph-warning: rgb(185, 95, 113);
    --aph-border: rgb(208, 215, 222);
    --aph-purple: #2d1c4d;
    --aph-purple-light: #60428d;
    --aph-pink: rgb(221 73 152);
    --aph-blue: rgb(122, 167, 193);
    --aph-grey: rgb(123, 143, 162);
    --aph-greya: rgba(208, 215, 222, 120);
    --aph-dark1: rgb(12, 12, 12);
    --aph-dark2: rgb(24, 24, 24);
    --aph-dark3: rgb(32, 32, 32);
    --aph-dark1a: rgba(12, 12, 12, 0.8);
    --aph-dark2a: rgba(24, 24, 24, 0.75);
    --aph-dark3a: rgba(32, 32, 32, 0.6);
    --aph-light1: rgb(220, 220, 220);
    --aph-light2: rgb(200, 200, 200);
    --aph-light3: rgb(180, 180, 180);
    --aph-text-light: rgb(250, 250, 250);
    --aph-text-grey: var(--aph-grey);
    --aph-text-dark: rgb(5, 5, 5);
    --aph-text-highlight: rgb(140, 207, 252);
}

h3 {
    font-family: montserrat;
    font-weight: bold;
    color: var(--aph-purple);
    font-size: 3vh;
}